body{
    padding: 0;
    margin: 0;
}
.header{
    position: fixed;
    background-color: rgb(0, 190, 0);
    display: flex;
    justify-content: start;
    max-height: 12%;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    z-index: 1;
}
.header h1{
    color: rgb(169, 25, 25);
    z-index: 2;
    position: absolute;
    left:50%
}
.sidebar {
    width:180px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 10px;
    background: rgb(0, 172, 17);
    overflow-x: hidden;
}
.sidebar a {
    padding: 10px 0rem 10px 10px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: list-item;
    border-color: black;
    border-width: 4px;
    border-top:3px;
    border-bottom: 3px;
    border-left: 4px;
    border-style: solid;
    list-style: none;
}
.sidebar a:hover {
    color: blue;
    border-color: black;
}
.main{
    position: absolute;
    left: 200px;
    top: 90px;
    font-size: 18px;
    padding: 0px 10px;
    margin-inline: auto;
    width: min(80ch, 80vw - 2rem);
    
}
p{
    width: min(80ch, 80% - 2rem);
}
div{
    background: gray;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 0 5px;
    margin: 6px;
}
.header img{
    margin: 5px;
    width: auto;
    max-height: 70px;
}
.sidebar>a>.exp{
    border-bottom: 4px;
    border-top: 4px;
    border-style: solid;
    border-color: black;
}