body{
    padding: 0;
    margin: 0;
}
.header{
    background-color: rgb(0, 190, 0);
    display: flex;
    justify-content: center;
    max-height: 80px;
    width: 100%;
    z-index: 1;
    position: relative;
}
.header h1{
    color: #A21A1A;
}
.header > a{
    position: absolute;
    left: 0;
}
.header img{
    margin: 5px;
    width: auto;
    max-height: 80px;
}
div {
    background: gray;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 0 5px;
    margin: 6px;
    max-width: 80ch;
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.sidebar {
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 20rem;
    flex-grow: 1;
    background-color: #0CED0C;
    font-size: 1.5rem;
}
.sidebar ul {
    list-style: none;
    position: fixed;
}
.sidebar a {
    border: 4px;
    border-style: solid;
    border-color: black;
    display: list-item;
    list-style: none;
    text-decoration: none;
}
.sidebar a:hover{
    color: blue;
    border-color: rgb(62, 62, 62);
}

.not-sidebar {
    /* ↓ Grow from nothing */
    flex-basis: 0;
    flex-grow: 999;
    /* ↓ Wrap when the elements are of equal width */
    min-inline-size: 50%;
}
@media ( max-width: 671.5px ) {
    .sidebar ul {
        position: relative;
    }
}